<div class='container'>
  <div class='row'>
    <h1>welcome to <strong>Tea room</strong> <i class="fas fa-coffee"></i></h1>
  </div>
  <div class="row mt-3">
      <h4>世界中様々な”お茶”を検索したり感想を投稿したりするSNSサイト</h4>
      <p>何百種類もあるお茶について、まだ知らないお茶を誰かの投稿をきっかけに知ることができ、 <br>
      自分もお茶の感想について投稿できる。お茶専門のSNSです。</p>
  </div>
</div>