<footer class="footer wrapper">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="color-blue text-center mt-3" >CopyRight Tea_Room</p>
    	</div>
    </div>
  </div>
</footer>
