<div class="mt-5 mb-5" style="border-bottom: 3px double #78420e;"></div>
<footer class="bg-brown">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="color-blue text-center mt-3" >CopyRight Tea_Room</p>
    	</div>
    </div>
  </div>
</footer>
